/* Apply light mode styles for text and background colors */
body {
  color: #333;
  background: #fff;
}

/* Apply dark mode styles if the user's system preference is set to dark mode */
@media (prefers-color-scheme: dark) {
  body {
      color: #ddd;
      background: #222;
  }
}